@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
    --borderTest: 5px solid blue;
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto',sans-serif;    
    color: black;
    display: flex;   
    flex-direction: column;   
    gap: 5em;
    
}
    
footer {
    border-top: 5px solid black;
    color: black;
    flex-basis: 5em;  
    display: flex;
    align-items: center;  
}


a {
    text-decoration: none;
    color: white;
    font-weight: 100;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1em;
}

img {
    width: 100%;
    height: 100%;
}
h1 {
    font-size: 3em;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 1100px;
}

#bienvenue {    
    background-color: black;
    color: white;
    flex-basis: 100vh;      
}

#flexHeader{
    display: flex;
    justify-content: space-between;    
}

#flexPresentation {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 3em;     
    height: calc(100vh - 50px);  
}

#flexPresentation div:nth-of-type(1) {  
    flex : 1 0 60%;  
}
#flexPresentation div:nth-of-type(2) {     
    flex : 0 1 40%;   
}



#projets {
    color: black;
    text-align: center;
}

#flexProjets {
    display: flex;
    flex-direction: column;
    gap:1em;
}


#projetGrille {
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-auto-rows: minmax(150px,auto);
    grid-gap: 1em;
    border-radius: 5px;
}

#projetGrille h3{
    text-align: start;   
    padding: 30px 15px;
}


#projetGrille a {
    font-size: 1.5em;
    text-shadow: 2px 2px 1px rgba(0,0,0,1);
    border-radius: 5px;
    background-size: cover;  
}

#projetGrille a:nth-of-type(1) {
    background:url(images/jump-start.png);
    background-size: cover;
}
#projetGrille a:nth-of-type(2) {
    background-image: url(images/mega-pop.jpg);
    background-size: cover;
}   
#projetGrille a:nth-of-type(3) {
    background-image: url(images/pac-man.jpg);
    background-size: cover;
}
#projetGrille a:nth-of-type(4) {
    background-image: url(images/rodeo-pump.jpg);
    background-size: cover;
}

#projetGrille a:hover {
    opacity: 0.7;
}




#flexContact{
    text-align: center;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
}


#flexContact a {
    background-color: black;
    padding: 25px 30px;  

}

/*  Projets */
#projet1 {
    background: url(images/points.png), center url(images/jump-start.png);
    flex-basis: 100vh;
    color: white;
}

#projets_présentation h1 {
    text-align: center;
}


@media screen and (max-width :1130px ) {
    .container {
        width: 700px;
    }
    #projetGrille {
        grid-template-columns: repeat(2,1fr);
    }   
}


@media screen and (max-width :730px ) {
    .container {
        width: 450px;
    }
    #projetGrille {
        grid-template-columns: 1fr;
    }    

@media screen and (max-width :460px ) {
    .container {
        width: 300px;
    }
    #projetGrille {
        grid-template-columns: 1fr;
    }
    #flexPresentation div:nth-of-type(2) {     
        display: none; 
    }    
    ul {
        flex-direction: column;
    }
    #flexPresentation {
        height: calc(100vh - 100px);         
    }

}